.result {
  padding: 0 40px;
  margin: 10px auto;

  &__box {
    border-radius: $border;
    border: 2px solid $color-primary-dark;
    box-shadow: $shadow;
    text-align: center;
  }

  &__title {
    margin: 20px;
    padding: 10px;
    box-shadow: $shadow;
    border-radius: $border;
    background-color: $color-primary-dark;
  }

  &__content {
    font-size: 16px;
    margin: 20px;
  }

  &__rates {
    margin: 20px;
    font-size: 12px;
  }

  &__closeButton {
    @include button;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
}
