html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-blend-mode: screen;
  background-image: linear-gradient(
      to right bottom,
      $color-grey-medium,
      $color-grey-light
    ),
    url("./background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  main {
    min-height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
