$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light: #f7f7f7;
$color-grey-medium: #999;
$color-grey-dark: #333;

$shadow: 0 2px 8px $color-grey-dark;

$transition: all 0.5s ease;

$border: 5px;
