.footer {
  display: flex;
  flex-direction: column;

  &__address {
    font-style: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__address {
    margin-left: 40px;
    padding: 20px;
    text-align: center;
    color: $color-grey-dark;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: $transition;

    @media (max-width: 767px) {
      margin-left: 4px;
      padding: 4px;
      font-size: 16px;
    }
  }

  &__link:hover,
  &__link:active {
    color: $color-primary-dark;
    transform: scale(1.1);
  }

  &__box {
    padding: 16px;
  }

  &__boxLink {
    text-decoration: none;
  }

  &__boxIcon {
    margin: 10px;
    color: $color-grey-dark;
    transition: $transition;
  }

  &__boxIcon:hover,
  &__boxIcon:active {
    color: $color-grey-medium;
    transform: translateY(-3px);
  }

  &__copywrite {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 18px;
    margin: 10px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}
